*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,#fff5b7,#ff449f);
    color: blue;
    font-family: 'Mate SC', serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,form button{
    padding: 0.5rem;
    font-size: 2rem;
    border:none;
    background: #ecf0f1;
}

form button{
    color: #185adb;
    background: #ecf0f1;
    cursor: pointer;
    transition: all 0.3s ease;
   
}

form button:hover{
    background: #4ca1a3;
    color: #ecf0f1;
}
.todo-container{
    display:flex;
    justify-content: center;
    align-items: center;

}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: .5rem;
    background: #ecf0f1;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.todo li{
    flex: 1;
}
.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
    background: rgb(11, 212, 162);
  }
  .todo-item{
      padding: 0rem .5rem;
  }

  .fa-trash,
  .fa-check{
      pointer-events: none;
  }

  .completed{
      text-decoration: line-through;
      opacity: .5s;
  }
  .fall{
      transform: translateY(8rem) rotateZ(20deg);
      -webkit-transform: translateY(8rem) rotateZ(20deg);
      -moz-transform: translateY(8rem) rotateZ(20deg);
      -ms-transform: translateY(8rem) rotateZ(20deg);
      -o-transform: translateY(8rem) rotateZ(20deg);
      opacity: 0;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: #ff449f;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: #d07e14;
    top: 0px;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.select:hover::after{
   background: #fff5b7;
    color: #d07e14;
}